html{
	background-color: #a8a8a8;
	margin: 0;
}
.main-container{
	background-color: gray;
	position: relative;
	padding-top: 30px;
	width: 100%;
}

.background-options-container{
	background-color: #d3d3d3;
	padding-bottom: 20px;
}

.hero-text-options{
	background-color: #bdbdbd;
	padding: 15px 0 20px 0;
}
.widget-header{
	background-color: #545454;
	position: relative;
}
.widget-content p{
	color:white;
	text-align: center;
	
}

.draggable{	
	padding: 5px; 
	float: left; 
	margin: 0 10px 10px 0; 
}

#draggable1{
	background-color: none;
	width:200px;
	height: 100px;
	padding: 5px; 
	float: left; 
	margin: 0 10px 10px 0; 
	font-size: .9em;
	display:none;
	word-break: nowrap;
}

.draggable p{
	color:black;
	font-size: 15px;

}
#secTextDraggable{
background-color: none;
	width:200px;
	height: 100px;
	padding: 5px; 
	float: left; 
	margin: 0 10px 10px 0; 
	font-size: .9em;
	display:none;
	word-break: nowrap;

}

.big-hero{
	background-color: #ffffff;	
	width: 1280px;
	height: 525px;
	position: relative;
}

#signOutput{
width: 400px;
	height: 200px;
	display:none;
}
#individSign{
	width: 400px;
	height: 200px;
	display:none;
}
#individVehicle{
	width: 400px;
	height: 200px;
	display:none;
}

.template-container{
	padding: 20px 0 50px 0;
	background-color: #d3d3d3;
}
.template-container select{
	padding: 5px 5px;
	margin:0px 15px 0px 15px;
}
/*------Lease Template Text-----*/
article.lease-text-template-sm{
	position: absolute;
	width: 800px;
	display: none;
}
article.lease-text-template-lg{
	position: absolute;
	width: 800px;
	display: none;
}

article.lease-text-template-md{
	position: absolute;
	width: 800px;
	display: none;	
}

hgroup, .percent, .percent-1, .percent-2{
	float: left;
	display: block;
}

/*Small Lease Template*/
.percent{
	font-size: 50px;
  letter-spacing: -5px;
  line-height: 10px;
  margin: 0 0 5px;
  padding:0 10px 0 0;
}

#cashBack{
	float: left;
	display: block;
	margin: -17px 0 10px 0;
	font-size: 20px;

  padding: 1px 10px 0 0;

}

#mostremain{
	float: left;
	font-size: 15px;
  	margin: 0;
  	padding: 1px 10px 0 0;
}

#plus {
	float: left;
	position: relative;
	font-size: 13px;
	margin-left: 5em;
}

#onSelect{
	float: left;
	line-height: 50px;
	position: relative;
	margin-left: -16em;
	font-size: 15px;
  	padding: 1px 10px 0 0;
}

/*Large Lease Template*/

.percent-1{
	font-size: 100px;
  letter-spacing: -5px;
  line-height: 15px;
  margin: 0 0 8.5px;
  padding:0 15px 0 0;
}

#cashBack-1{
	float: left;
	display: block;
	margin: -25.5px 0 15px 0;
	font-size: 35px;
  	padding: 1.5px 15px 0 0;

}

#mostremain-1{
	float: left;
	font-size: 22.5px;
  	margin: 0;
  	padding: 1.5px 15px 0 0;
}

#plus-1 {
	float: left;
	position: relative;
	font-size: 21.5px;
	margin-left: 5em;
}

#onSelect-1{
	float: left;
	line-height: 75px;
	position: relative;
	margin-left: -17.7em;
	font-size: 22.5px;
  	padding: 1.5px 15px 0 0;
}

/*Medium Lease Template*/

.percent-2{
	font-size: 75px;
  letter-spacing: -5px;
  line-height: 15px;
  margin: 0 0 8.5px;
  padding:0 15px 0 0;
}

#cashBack-2{
	float: left;
	display: block;
	margin: -25.5px 0 15px 0;
	font-size: 30.25px;
  	padding: 1.5px 15px 0 0;

}

#mostremain-2{
	float: left;
	font-size: 16.5px;
  	margin: 0;
  	padding: 1.5px 15px 0 0;
}

#plus-2 {
	float: left;
	position: relative;
	font-size: 15.2px;
	margin-left: 5em;
}

#onSelect-2{
	float: left;
	line-height: 75px;
	position: relative;
	margin-left: -17em;
	font-size: 16.5px;
  	padding: 1.5px 15px 0 0;
}

/*------/Lease Template Text-----*/

.disclaimerTxt{
	max-width: 800px;
	font-size: 10px;
	word-break: nowrap;
	display: none;
}

#previewImage{
	display: none;
}





