html{
	background-color: #a8a8a8;
	margin: 0;
}
.main-container{
	background-color: gray;
	position: relative;
	padding-top: 30px;
	width: 100%;
}

.background-options-container{
	background-color: #d3d3d3;
	padding-bottom: 20px;
}

.hero-text-options{
	background-color: #bdbdbd;
	padding: 15px 0 20px 0;
}
.widget-header{
	background-color: #545454;
	position: relative;
}
.widget-content p{
	color:white;
	text-align: center;
	
}

.draggable{	
	padding: 5px; 
	float: left; 
	margin: 0 10px 10px 0; 
}

#draggable1{
	background-color: none;
	width:200px;
	height: 100px;
	padding: 5px; 
	float: left; 
	margin: 0 10px 10px 0; 
	font-size: .9em;
	display:none;
	word-break: nowrap;
}

.draggable p{
	color:black;
	font-size: 15px;

}
#secTextDraggable{
background-color: none;
	width:200px;
	height: 100px;
	padding: 5px; 
	float: left; 
	margin: 0 10px 10px 0; 
	font-size: .9em;
	display:none;
	word-break: nowrap;

}

.big-hero{
	background-color: #ffffff;
	
	width: 1280px;
	height: 525px;
	position: relative;
}

#signOutput{
width: 400px;
	height: 200px;
	display:none;
}
#individSign{
	width: 400px;
	height: 200px;
	display:none;
}
#individVehicle{
	width: 400px;
	height: 200px;
	display:none;
}

.template-container{
	padding: 20px 0 50px 0;
	background-color: #d3d3d3;
}
/*------Lease Template Text-----*/
article.lease-text-template{
	position: absolute;
	width: 500px;
	display: none;
}

hgroup, .percent{
	float: left;
	display: block;
}

h2 span{
  font-size: 50px;
  letter-spacing: -5px;
  line-height: 10px;
  margin: 0 0 5px;
  padding:0 10px 0 0;
}
h3 span{
  font-size: 20px;
  margin: 0 0 5px;
  padding: 1px 10px 0 0;
}
h4 span{
  font-size: 15px;
  margin: 0;
  padding: 1px 10px 0 0;

}

h6 span{
position: relative;
font-size: 13px;
left:50%;
}
#cashBack{
	float: left;
	display: block;
	margin: -17px 0 10px 0;

}

#mostremain{
	float: left;
}

#plus{
	float: left;
}

#onSelect{
	float: left;
	line-height: 50px;
	position: relative;
	margin-left: -7.3em;
}
/*------/Lease Template Text-----*/

.disclaimerTxt{
	max-width: 800px;
	font-size: 10px;
	word-break: nowrap;
	display: none;
}

#previewImage{
	display: none;
}





